
/* additional styles for wgsimpleacc startmin */
.wgsa-navbar-toggle {
	border: 1px solid #337ab7 !important;
	border-radius: 5px !important;
	float: none !important;
}
.wgsa-navbar-icon-bar {
	color: #cccccc !important;
	background-color: #337ab7 !important;
}

.wgsa-maincontainer {
	padding: 20px !important;
}

.wgsa-startminheader{
	margin-bottom:20px;
	padding-left:20px;
	padding-right:20px;
	border-bottom: 1px solid #337ab7;
}
.wgsa-startminheader-brand {
	margin-bottom:20px;
}
.wgsa-startminheader-link {
    margin:10px 5px !important;
    font-size:150%;
}
.wgsa-startminheader-link-important {
    color:#d43f3a !important;
}
.wgsa-startminheader-bagde {
    background-color:#d43f3a;
}

.wgsa-content {
	min-height:700px !important;
}
.wgsa-startmincontent {
	margin-left:20px;
	margin-right:20px;
}

.wgsa-form-inline {
	margin-bottom:50px;
	border-bottom: 1px solid #ccc;
}
.wgsa-form-inline label, .wgsa-form-inline input {
	margin:5px 0;
}
.wgsa-form-inline #submit {
	float: right;
}

.wgsa-transaction-img-list {
	max-height:200px !important;
}
.wgsa-transaction-sum th,
.wgsa-transaction-sum td {
	border-bottom: 1px solid #ccc;
	padding:5px 20px 5px 10px;
}

.wgsa-nav-icon {
	height:20px;
	margin:0 5px 0 0;
}
.wgsa-index-panel{
	padding:10px 20px 20px 20px;
	border: 1px solid #ccc;
}
.wgsa-index-tratotal{
	padding:20px;
	font-size:120%;
	border: 1px solid #ccc;
}
.wgsa-index-tratotal > table > tbody > tr > td {
	padding:5px;
}
#incomes1, #incomes2, #expenses1, #expenses2 {
	padding:0 5px;
}
.wgsa-index-tratotal-amount {
	padding-left:50px !important;
	text-align: right;
}
.wgsa-index-tratotal-sum > td {
	border-top: 1px solid #ccc;
}
.wgsa-index-assets {
	margin-top:50px;
	font-size:120%;
}
.wgsa-statistics-assets {
	padding-top:25px;
}
.wgsa-statistics-assets-row {
	margin:5px 0;
}

.wgsa-btn-list {
	margin:5px;
}

.wgsa-files-preview {
	max-height:50px;
}

.wgsa-files-badge {
	background-color:#ffc107 !important;
}
.wgsa-info-badge {
	background-color:#ffc107 !important;
	margin-left:10px;
}

.wgsa-output-sum td {
	font-weight:500;
	font-size: 120%;
	border-top:1px solid #ddd;
	border-bottom:1px double #ddd;
}

.wgsa-modal {
	cursor: pointer;
}

.wgsa_outtemplate {}
.wgsa_outtemplate_footer {
	margin-top:50px;
	padding-top:20px;
	border-top: 1px solid #000;
}

ul.menu {
	list-style: none;
	background-color: #f5f5f5;
	border-radius: 4px;
}

ul.menu > li {
	display: inline-block;
}

ul.menu > li + li:before {  
    content: "|\a0";
}

.printOnly {
	display: none;
}

.list-sort-panelbody {
	padding:10px 0 !important;
}
.list-sort-ol {
	padding:0 !important;
}

.no-border {
	border:0 !important;
}

.row-class-2 {
	border-left:10px solid red;
}
.row-class-2 > td {
	border-top:1px solid red !important;
}
.row-class-3 {
	border-left:10px solid green;
}
.row-class-3 > td {
	border-top:1px solid green !important;
}
.wgsa-output-table-default {
	border:0;
}
.wgsa-output-table-default tr {
	border-bottom:1px solid #cccccc;
}
.wgsa-output-table-default tr td {
	padding:5px;
}
.wgsa-img-online {
	margin:0 20px;
}
.wgsa-img-online-small {
	height:16px;
}
.wgsa-client-td p {
	padding:0 !important;
	margin:0 !important;
}
.wgsa-btn-sort i {
	padding:0;
}
.wgsa-btn-sort {
	padding: .30rem .20rem !important;
	font-size: .600rem !important;
	line-height: 1 !important;
	border-radius: .2rem !important;
}
.wgsa-panel-sum {
	margin-top:50px;
	margin-bottom: 20px;
}


/* checkbox 'collapse all' in allocation/account tpl*/
.wgsa-collapse-all {
	margin:10px !important;
}

/* styles for forms*/
#formTransaction #tra_accid,
#formTransaction #tra_allid {
	width:100% !important;
}

/*resize calendar button*/
#formFilter .input-group .btn {
	font-size:18px !important;
	height:34px;
	padding:0 12px;
	margin-top:5px;
}
