/*  https://jqueryui.com/autocomplete/#combobox */

.custom-combobox {
    position: relative;
    display: inline-block;
    width: 100%;
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}
.custom-combobox-input {
    margin: 0;
    width: calc(100% - 26px);
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
}
